# Python
__pycache__
.pyc
.pyo
.pyd
.Python
env
venv
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.cache
.pytest_cache
debug_runner.py
test_all.bat
test_analyze.bat
test_detect.bat
test_track.bat
test_track_analyze.bat
test_analyze_crops.bat

# IDE specific
.vscode
.idea
.swp

# macOS
.DS_Store

# Output folders
results