# Python
__pycache__
.pyc
.pyo
.pyd
.Python
env
venv
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.cache
.pytest_cache
debug_runner.py 

# IDE specific
.vscode
.idea
.swp

# macOS
.DS_Store

# Output folders
results